[filter "spaces-to-tabs"]
	smudge = gunexpand --tabs=4 --first-only
	clean = gexpand --tabs=4 --initial
[filter "tabs-to-spaces"]
	smudge = gexpand --tabs=4 --initial
	clean = gunexpand --tabs=4 --first-only

